* {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url('../img/背景.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

nav ul li {
	list-style: none;
	line-height: 80px;
	padding-left: 20px;
	padding-top: 10px;
	font-size: 20px;
}

nav {
	width: 400px;
	height: 212px;
	background-image: url('../img/导航栏.webp');
	background-repeat: no-repeat;
	opacity: 0.8;

}

nav a {
	text-decoration: none;
	color: black;
}

nav a:hover {
	color: orange;
}

#jse ul {
	list-style: none;
}

#jse {
	width: 380px;
	height: 840px;
	background-color: white;
	padding: 10px;
}

#jse h2 {
	font-weight: 500;
	font-family: "宋体";
}

#jse img {
	width: 100px;
	float: left;
	padding-right: 10px;
}

p {
	line-height: 20px;
	font-size: 13px;
}

#yc {
	margin-top: 30px;
	clear: both;
}

#ty {
	clear: both;
	margin-top: 50px;
}

#xh {
	clear: both;
	margin-top: 10px;
}

#xm {
	clear: both;
	margin-top: 30px;
}

#huadong{
	width: 1500px;
	height: 300px;
	position: relative;
	left: 400px;
	bottom: 1075px;
}

#box{
	width: 1500px;
	margin: 10% auto;
	position: relative;
	right: 100px;
}

#huadong img{
	width: 450px;
	height: 300px;
	float: left;
}
#huadong ul{
	list-style: none;
}

#nav ul{
	width: 1350px;
	height: 100px;
	background-image: url('../img/nav.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	bottom: 1121px;
	left: 400px;
}
#nav li{
	list-style: none;
	float: left;
	height: 40px;
	width: 337px;
	line-height: 40px;
	text-align: center;
}
#nav a{
	text-decoration: none;
	color: aqua;
	font-size: 20px;
	line-height: 100px;
	display: block;
}
#nav a:hover{
	color: white;
	background-color: rgba(255,255,255,0.5);
}

#neirong{
	width: 1350px;
	height: 720px;
	background-image: url('../img/内容背景.png');
	position: relative;
	left: 401px;
	bottom: 1120px;
	z-index: 3;
}
#neirong1{
	width: 800px;
	height: 421px;
	margin: 0px auto;
	background-image: url('../img/内容.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow:0px 0px 100px black;
	position: relative;
	top: 120px;
	z-index: 1;
}
#neirong2{
	position: relative;
	left: 200px;
	bottom: 350px;
	z-index: 2;
}
#neirong2 h1{
	color: white;
	font-family: "楷体";
}
.nei{
	color: black;
	line-height: 2em;
	font-size: 20px;
	text-indent: 2em;
	font-family: "宋体";
}
#shiping{
	width: 1000px;
	border-top: solid 5px #fff;
	position: relative;
	bottom: 300px;
	left: 200px;
	z-index: 2;
}
#shiping h1{
	color: white;
	margin: 20px 0px 10px 0px;
	font-family: "楷体";
}
#shiping video{
	margin-left: 50px;
}
#dibu{
	width: 1750px;
	height: 100px;
	background-image: url('../img/版权.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	bottom: 1119px;
}
#dibu p{
	padding-top: 40px;
	text-align: center;
	font-size: 20px;
	color: white;
}
